.skills-container {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    padding: 20px 10%;
    text-align: left;
}

.tech-icons {
    font-size: 9em !important;
    margin: 35px !important;
    padding: 20px !important;
    opacity: 0.93 !important;
    border: 1.7px solid rgb(89, 0, 190) !important;
    vertical-align: middle !important;
    text-align: center !important;
    border-radius: 5px !important;
    display: table !important;
    box-shadow: 4px 5px 4px 3px rgba(117, 0, 250, 0.37) !important;
    overflow: hidden !important;
    transition: all 0.4s ease 0s !important;
}
  
  @media (max-width: 1000px) {
    .tech-icons {
      font-size: 5em;
      margin: 10px !important;
    }
  }
  
  .tech-icons:hover {
    transform: scale(1.05) !important;
    overflow: hidden !important;
    border: 2.2px solid rgba(117, 0, 250, 1) !important;
  }
  .tech-icon-images {
    padding: 20px !important;
    line-height: 1.6 !important;
  }
  

